:root {
  --accent-color: #2196f3;
  --back-color: #ffffff;
  --border-line: #ececec;
  --text-color: #212121;
  --black-black: #000000;
  --gray-type: #757575;
  --hero-footer: #2f303a;
  --widgets-link-background-color: #f5f4fa;
  --border-card-content: #eeeeee;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --paragraph-font-size: 16px;
  --paragraph-menu-font-size: 14px;
  --card-set-gap: 30px;
  --shadow-one: rgba(0, 0, 0, 0.12);
  --shadow-two: rgba(0, 0, 0, 0.14);
  --shadow-three: rgba(0, 0, 0, 0.2);
  --shadow-hero-button: rgba(0, 0, 0, 0.15);
  --margin: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}

ul,
li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  font-family: var(--main-font);
}

img {
  display: block;
  max-width: 100%;
}
/* li {
  outline: 1px solid tomato;
}
 */
/* ======= COMPONENTS ======== */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==== navigation ==== */
.header-container {
  align-items: center;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--back-color);
  border-bottom: 1px solid var(--border-line);
}
.hader-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item {
  margin-right: 50px;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item-link {
  display: flex;
  align-items: center;
  align-content: center;
}

.cont {
  margin-left: auto;
}

/*=====================Header==================*/
/*
.header {
  width: 1600px;
  background-color: var(--back-color);
}
*/
.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--accent-color);
  cursor: pointer;
}
.logo-black {
  color: #000000;
}
.menu-item-link {
  display: block;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: auto;
}

.menu-item-link:hover,
.menu-item-link:focus {
  color: var(--accent-color);
}
.menu-item-link.current {
  color: var(--accent-color);
}

.cont-link {
  text-align: left;
  color: var(--gray-type);
}
.cont-link:hover,
.cont-link:focus,
.cont-link-map {
  color: var(--accent-color);
}
/*=====================HERO=======================*/

.hero {
  background: var(--hero-footer);
  color: var(--back-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* .container-hero {
  ???? этот класс нужен ??
} */
.hero-face {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--back-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--back-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--shadow-hero-button);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.hero-button-go {
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--back-color);
}
/* =====================END HERO====================
/*=====================ABOUT======================*/
.about-paragraph {
  font-family: var(--font-family);
  font-size: var(--paragraph-menu-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;

  color: var(--back-text-color);
}

.description {
  font-family: var(--font-family);
  font-size: var(--paragraph-menu-font-size);
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--grey-text-color);
}
.about-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-flex-element {
  width: 270px;
}
/*=====================END ABOUT======================*/
/*===================== What we do ==============*/
.section-what-we-do {
  padding-top: 0;
}

.whatwedo .team-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.whatwedo {
  font-family: var(--font-family);
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.container-whatwedo {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
}

.whatwedo-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}
.whatwedo-img {
  flex-basis: calc((100% - 3 * var(--margin)) / 3);
  margin-top: var(--margin);
  margin-left: var(--margin);
}
/*=================END  What we do ==============*/
/*=====================Team=====================*/

/* .team-list {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
 */
.section-team {
  background-color: var(--widgets-link-background-color);
}
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list-position {
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  color: var(--gray-type);
}
.team-list {
  font-family: var(--font-family);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--back-text-color);
  margin-bottom: 52px;
}
.team-list-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}
.team-list-wrapper {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: var(--margin);
  margin-left: var(--margin);
  background: var(--back-color);
  text-align: center;
  box-shadow: 0px 1px 3px var(--shadow-one), 0px 1px 1px var(--shadow-two),
    0px 2px 1px var(--shadow-three);
  border-radius: 0px 0px 4px 4px;
}
.team-text-wrapper {
  background-color: var(--back-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list-wrapper {
  text-align: center;
}
/*===================END Team=====================*/
/*=====================Footer=====================*/
.address {
  font-family: var(--font-family);
  font-style: normal;
  font-size: var(--paragraph-menu-font-size);
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--back-color);
}
.address-footer {
  padding-bottom: 9px;
}
.mail-link-footer {
  padding-bottom: 9px;
  font-style: normal;
}
.footer {
  background: var(--hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-white {
  color: var(--back-color);
}
/*========END FOOTER ==========*/
/*========PORTFOLIO===========*/
.gallery-portfolio {
  color: var(--back-color);
}

/*========PORTFOLIO HERO======*/
.widgets {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.widgets-item:not(:last-child) {
  margin-right: 8px;
}
.widgets.list {
  display: flex;
}
.widgets.list {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 90px;
}

.nav-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.nav-button {
  font-family: var(--font-family);
  font-size: 500;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  border-style: none;
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--accent-color);
  color: var(--back-color);
  cursor: pointer;
}

/*===========GALLERY=====*/
.projects-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--margin));
  margin-left: calc(-1 * var(--margin));
}
.projects-links,
.projects-links:visited {
  color: var(--text-color);
}
.projects-blocks {
  flex-basis: calc(100% / 3 - var(--margin));
  margin-top: var(--margin);
  margin-left: var(--margin);
}
.projects-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background: var(--back-color);
  border-right: 1px solid var(--border-card-content);
  border-bottom: 1px solid var(--border-card-content);
  border-left: 1px solid var(--border-card-content);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--text-color);
}
.project-type {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--gray-type);
}
.projects-links,
.projects-links:visited {
  color: var(--gray-type);
}
